i:hover {
  color: #283244;
}
.card {
  background-color: rgb(253, 253, 253);
  color: #1c222f;
  border: none;
}

.loginHeader {
  color: #131924;
  font-size: 6rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.btn-link {
  color: #283244;
}

.login-btn {
  font-family: "Noto Sans JP", sans-serif;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;
}

.login-btn span:last-child {
  display: none;
}

.login-btn:hover {
  border: 2px dashed #283244;
  background-color: #fff;
  color: #283244;
  transition: 0.4s;
}

.login-btn:active {
  background-color: #283244;
}

:root {
  --background: #1c273a;
  --primary: #36435c;
  --secondary: #253452;
  --third: #283c62;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -100px;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  width: 400px;
  z-index: -2;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 4s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: all 1s ease-in-out;
  width: 400px;
  z-index: -2;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}

p a {
  color: #1d2534;
}

.welcomText {
  z-index: 10;
}

.errorMessages {
  color: #ff1d1d;
}
