.a1 {
  width: 50%;
}
.a2 {
  width: 20%;
}
.a3 {
  width: 40%;
}
.a4 {
  width: 80%;
}
.a5 {
  width: 100%;
}
.a6 {
  width: 25rem;
}
.a7 {
  width: 60%;
}
.toggled {
  /* Remove fixed width */
  /* width: 6.5rem !important; */
  overflow: hidden;
}

.toggled1 {
  /* Remove width: 0 */
  /* width: 0 !important; */
  overflow: hidden;
}

#sideBar {
  background-color: #283244;
}

.pageContent {
  background-color: #e8e8e8;
}
.Aside_col {
  position: fixed;
  height: 100%;
  /* Remove overflow-y property */
  /* overflow-y: auto; */
}
.Tables_col {
  margin-left: 15%;
}
@media (max-width: 1200px) {
  .Tables_col {
    margin-left: 20%; /* Center content horizontally */
  }
}
/* Add transition property to the sidebar class */
.sidebar {
  transition: transform 0.3s ease-in-out;
}

/* Add a class to push the sidebar out of the screen when it's closed */
.sidebar-hidden {
  transform: translateX(-100%);
}

#navbar {
  width: 100%;
}
