.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #435169;
  font-family: "Noto Sans JP", sans-serif;
}
.nav-link:hover,
.nav-link:active {
  color: #204d9a;
}
.loginBtn {
  color: rgb(29, 29, 29);
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #354259;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.loginBtn:hover {
  color: white;
  background-color: #202c42;
  box-shadow: 0px 0px 20px -18px;
  border: 2px solid #1d2533;
}

.loginBtn:active {
  color: white;

  transform: scale(0.95);
}

.nav-userName {
  color: #010212;
  font-size: 1rem;
}

.navbarBtn {
  background-color: #354259;
}

.navbarBtn:hover {
  background-color: #0f203e;
}

.website_logo {
  width: 6rem;
}
