.navbar {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.navbar-brand {
  font-family: "Noto Sans JP", sans-serif;
  color: #240e28;
  font-weight: 500;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #283244;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link:active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: #1e3567;
}

.nav-link i {
  font-size: 1rem;
  color: #f2e3ff;
}

.nav-link:hover i,
.nav-link:focus i,
.nav-link:active i {
  color: #d6d4d7;
}

.loginBtn {
  color: rgb(29, 29, 29);
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #283244;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.loginBtn:hover {
  color: white;
  background-color: #222b3b;
  box-shadow: 0px 0px 20px -18px;
  border: 2px solid #1d2533;
}

.loginBtn:active {
  color: white;

  transform: scale(0.95);
}

.nav-userName {
  color: #010212;
  font-size: 1rem;
}

.navbarBtn {
  background-color: #283244;
}

.navbarBtn:hover {
  background-color: #18202e;
}
